<div class="hello-world" style="background-color:aquamarine;">
    hello-world.hbs
</div>
<div class="hello-world" style="background-color:aquamarine;">
    {{cook}}
</div>
<div class="hello-world" style="background-color:aquamarine;">
    <ul>
        {{#each allcookies as |cookie_man|}}
        <li>Cookie: {{cookie_man}}</li>
        {{/each}}
    </ul>
</div>